node_modules
.next
out
dist
build
release
release_*/
release_v3
release_v4
tsconfig.tsbuildinfo

.env*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.apk
*.exe
*.dmg
*.AppImage

electron-builder-master/
express-master/
express-master.zip

.DS_Store
Thumbs.db
.claude/
